body {
  background-color: white;
}
 p {
   color: black;
 }
 body {
   font-family: "Times New Roman", Times, serif;
 }
 h1 {
   color: black;
 }
 h2 {
   color: black;
 }
  > this_style_sheet_is_used_for_most_pages_bar_the_menu
  > it_is_used_to_create_the_house_style_explored_in_coursework one
